<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=192.168.1.21:1521/pegaso;PASSWORD=service;USER ID=OMNIBEES"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>